<!-- View corresponding to the /about route -->

<div class="container">
	<div class="row mt-5 mb-5">
		<div class="col-12">
			<h2>About</h2>
			<p>This is a Simple Web Application which displays graphs of consumers' data.</p>
			<p>Heavily relying on the <a href="https://getbootstrap.com" target="_blank">v4.0.0-alpha.6. Bootstrap library</a>, the <a href="https://d3js.org/" target="_blank">d3.js library</a> and built using the <a href="https://angularjs.org/" target="_blank">AngularJS framework</a>.</p>
		</div>
		<div class="col-12 mt-5">
			<h4>About Bootstrap</h4>
			<p>Bootstrap is a library which provides loads of useful components and templates to create visually pleasing and responsive websites.</p>
			<p>Some components used to make this app: sticky navbar, jumbotron, card (new v4 component).</p>
		</div>
		<div class="col-12 mt-3">
			<h4>About d3.js</h4>
			<p>d3.js is a library which enables to represent data in a efficient way.</p>
			<p>On this app, the data is fetched from JSON files and displayed using a line chart.</p>
		</div>
		<div class="col-12 mt-3">
			<h4>About Angular JS</h4>
			<p>Angular JS is a JavaScript framework using the MVC model which makes the Simple Web Applications creation process easy.</p>
		</div>
	</div>
</div>