<!-- View corresponding to the /about route -->

<div class="jumbotron text-center">
  <h1 class="display-3">Welcome on Data App!</h1>
  <p class="lead">This is a simple page application to display our consumers' data.</p>
  <div class="my-4">
  <p>It contains graphs that display our consumers' activities.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#!/about" role="button">Learn more</a>
  </p>
</div>
</div>

<div class="card text-center mt-2 mb-5">
  <img class="card-img-top" src="img/networks.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Data Representation</h5>
      <p class="card-text">We present you graphs of our consumers' data.</p>
      <a ng-href="#!/graph" class="btn btn-primary">Check out our Graphs!</a>
    </div>
</div>
